<%- include ('header') %>


    <!-- content my cart -->
    <div class="content-my-cart">
        <div class="container">
            <div class="row mt-5">
                <div class="col-sm-8">
                    <p class="big-title">My Cart</p>
                    <hr>
                    <% data.forEach(function(motsp){ %>
                    <div class="item">
                        <img class="float-left" width="30%" src="<%= motsp.images[0] %>" alt="">
                        <div style="width: 25%; margin-left: 5%;" class="block-content float-left mt-5">
                            <p class="small-title" style="font-weight: bold;"><%= motsp.title %></p>
                            <div>$<%= motsp.cost %></div>
                            <div>Color : Peach</div>
                            <div>Size: 12 - 18 months</div>
                        </div>
                        <div class="form-group float-left mt-5" style="width: 10%;">
                            <input style="width: 100%;" type="number"
                              class="form-control" value="<%= motsp.quantity %>" name="quantity" id="" aria-describedby="helpId" placeholder="">
                        </div>
                        <div class="cost float-left mt-5" style="width: 10%; margin-left: 5%;">$<%= motsp.cost %></div>
                        <a href="/my-cart-xoa.<%= motsp._id %>" class="close float-left mt-5" style="width: 5%; margin-left: 10%;">X</a>
                    </div>
                    <% }) %>
                </div>
                <div class="col-sm-4">
                    <p class="big-title">Order Summary</p>
                    <hr>
                    <div class="mt-5">Subtotal <span class="float-right">$19.99</span></div>
                    <div>Shipping <span class="float-right">Free</span></div>

                    <!-- Button trigger modal -->
                    <button type="text" class="" style="border: none; background-color: white;" data-toggle="modal" data-target="#modelId">
                      Vietnam
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                    <div class="modal-header">
                                            <h5 class="modal-title">Select Destination</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                        </div>
                                <div class="modal-body">
                                    <div class="container-fluid">
                                        <div class="form-group">
                                          <label for="des">Country</label>
                                          <select class="form-control" name="des" id="">
                                            <option>Vietnam</option>
                                            <option>Japan</option>
                                            <option>China</option>
                                            <option>Singapore</option>
                                            <option>Korea</option>
                                            <option>Thailand</option>
                                          </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <script>
                        $('#exampleModal').on('show.bs.modal', event => {
                            var button = $(event.relatedTarget);
                            var modal = $(this);
                            // Use above variables to manipulate the DOM
                            
                        });
                    </script>
                    <!-- <a href="" class="destination">VietNam</a> -->
                    <hr>
                    <div class="mt-4" style="text-transform: uppercase;">TOTAL <span class="float-right">$19.99</span></div>
                    <a style="background-color: var(--color-button); width: 100%;" href="" class="btn btn-secondary mt-4 pt-2 pb-2" style="text-transform: uppercase;">Check Out</a>
                </div>
            </div>
        </div>
    </div>
    <!-- end content my cart -->
<%- include ('footer') %>