<%- include ('header') %>
      <div class="container du-lieu">
          <h2 style="font-family: var(--font-title);" class="mt-3">Create New Item</h2>
          <a style="font-family: var(--font-text);" href="/them" class="btn btn-success mt-2 mb-5">New item</a>
          <div class="jumbotron text-center">
              <h1 class="display-3">Xem dữ liệu</h1>
              <p class="lead">đổ ra từ mongodb</p>
              <hr class="my-2">
              <table class="table table-striped table-inverse ">
                  <thead class="thead-inverse">
                      <tr>
                          <th>Title</th>
                          <th>Image</th>
                          <th>Descript</th>
                          <th>Cost</th>
                          <!-- <th>Category</th> -->
                          <th>Action</th>
                      </tr>
                      </thead>
                      <tbody>
                      <% data.forEach(function(motpt){ %>
                          <tr>
                              <td scope="row"> <%= motpt.title %></td>
                              <td> <img width="100px" src="<%= motpt.images[0] %>" alt=""></td>
                              <td><%= motpt.des %></td>
                              <td><%= motpt.cost %></td>
                              <!-- <td><%= motpt.cat %></td> -->
                              <td>
                              <a href="/sua.<%= motpt._id %>" class="btn btn-danger">Edit</a> <a onclick="return xoahaykhong('Bạn có chắc chắn xóa hay không?')" href="/xoa.<%= motpt._id %>" class="btn btn-secondary">Delete</a>                                </td>
                          </tr>
                        <% }) %>
                      </tbody>
              </table>
          </div>
      </div>
      <script type="text/javascript">
        function xoahaykhong(mess) {
            if(window.confirm(mess)==true){
                return true;
            }
            return false;
        }
    </script>
<%- include ('footer') %>